---
import imgAbout from '/img-about.svg';
---

<div id="about" class="flex pt-32 bg-white">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div class="space-y-6 lg:flex lg:items-center lg:gap-12">
          <div class="lg:w-5/12" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in">
            <img class="w-[40rem]" src={imgAbout} alt="about ejmoving" loading="lazy">
          </div>
          <div class="text-center lg:text-left md:7/12 lg:w-6/12" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in">
            <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">About us</h2>
            <p class="mt-6 text-gray-600 text-lg">We are a moving company we are here to make your transition seamless and stress free. We have more than 10 years of experience and a team of professionals.</p>
            <p class="mt-4 text-gray-600 text-lg">We take care of all the details so you can focus on what's important. Whether you're moving across town, our goal is to provide you with an exceptional moving experience. Contact us today to learn more about how we can help make your move a success.</p>
          </div>
        </div>
    </div>
</div>