---
import { Icon } from 'astro-icon';
---

<div class="open_modal bg-blue-600 text-white fixed z-10 top-1/2 left-1 -translate-y-full rounded-lg p-1 shadow-lg shadow-blue-400 cursor-pointer hover:bg-orange-500">
    <Icon class="w-9 h-10 lg:w-12 lg:h12" name="ri:calendar-check-fill" />
</div>