---
import imgExperience from '/img-experience.svg'
---


<div class="px-6 py-20 xl:hidden">
    <div class="grid place-items-center">
        <div data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in">
            <img class="w-4/5 max-w-xs m-auto" src={imgExperience} alt="experiencie ejmoving" loading="lazy">
        </div>
        
        <div class="text-center" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in">
            <h2 class="text-2xl text-gray-900 font-bold md:text-4xl"><span class="text-4xl text-blue-700">+ 10 years of</span> experience</h2>
        </div>
    </div>
</div>
