<h2 id="quote" class="pt-32 text-2xl text-gray-900 font-bold md:text-4xl text-center" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in">Make a Free Quote</h2>

<div class="flex items-center justify-center p-6" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in">
  <div class="mx-auto w-full max-w-[550px] bg-zinc-100 rounded-lg p-6 shadow-2xl border border-zinc-200">
    <h2 id="text_form_send" class="hidden text-center text-xl"> 💙 Thank you for choosing us 💙 <br> Very soon we will answer your request</h2>
    <form id="form">

      <h2 class="text-center text-2xl mt-2 mb-6 text-blue-700 font-semibold">Personal Info</h2>

      <div class="-mx-3 flex flex-wrap ">

        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="from_name" class="mb-3 block text-base font-medium text-[#07074D]">
              Full Name
            </label>
            <input type="text" name="from_name" id="from_name" placeholder="Full Name" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-blue-700 focus:shadow-md" />
          </div>
        </div>

        <div class="w-full px-3 sm:w-1/2">
          <div>
            <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">
              Email
            </label>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Email"
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-blue-700 focus:shadow-md"
            />
          </div>
        </div>
      </div>

      <h2 class="text-center text-2xl mt-2 mb-6 text-blue-700 font-semibold">Moving From</h2>

      <div class="-mx-3 flex flex-wrap">

        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="location_from" class="mb-3 block text-base font-medium text-[#07074D]">
              Location *
            </label>
            <input type="text" name="location_from" id="location_from" placeholder="Location *" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-blue-700 focus:shadow-md" />
          </div>
        </div>

        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="time" class="mb-3 block text-base font-medium text-[#07074D]">
              Select Move Time *
            </label>
            <input
              type="time"
              name="time"
              id="time"
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
        </div>

      </div>

      <div class="-mx-3 flex flex-wrap">

        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="building_type_from" class="mb-3 block text-base font-medium text-[#07074D]">
              Building Type *
            </label>
            <select name="building_type_from" id="building_type_from" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-blue-700 focus:shadow-md" />
              <option value="">Building Type *</option>
              <option value="Apartment">Apartment</option>
              <option value="House">House</option>
              <option value="Office">Office</option>
            <select/>
          </div>
        </div>

        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="building_size_from" class="mb-3 block text-base font-medium text-[#07074D]">
              Building Size *
            </label>
            <select name="building_size_from" id="building_size_from" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-blue-700 focus:shadow-md" />
              <option value="">Building Size *</option>
              <option value="Studio">Studio</option>
              <option value="1 Room">1 Room</option>
              <option value="2 Rooms">2 Rooms</option>
              <option value="3 Rooms">3 Rooms</option>
              <option value="4 Rooms">4 Rooms</option>
              <option value="5+ Rooms">5+ Rooms</option>
            <select/>
          </div>
        </div>
      </div>

      <h2 class="text-center text-2xl mt-2 mb-6 text-blue-700 font-semibold">Moving To</h2>

      <div class="-mx-3 flex flex-wrap">

        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="location_to" class="mb-3 block text-base font-medium text-[#07074D]">
              Location *
            </label>
            <input type="text" name="location_to" id="location_to" placeholder="Location *" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-blue-700 focus:shadow-md" />
          </div>
        </div>

        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label
              for="date"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Expected Date of Move
            </label>
            <input
              type="date"
              name="date"
              id="date"
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
        </div>

      </div>

      <div class="-mx-3 flex flex-wrap">

        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="building_type_to" class="mb-3 block text-base font-medium text-[#07074D]">
              Building Type *
            </label>
            <select name="building_type_to" id="building_type_to" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-blue-700 focus:shadow-md" />
              <option value="">Building Type *</option>
              <option value="Apartment">Apartment</option>
              <option value="House">House</option>
              <option value="Office">Office</option>
            <select/>
          </div>
        </div>

        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label for="building_size_to" class="mb-3 block text-base font-medium text-[#07074D]">
              Building Size *
            </label>
            <select name="building_size_to" id="building_size_to" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-blue-700 focus:shadow-md" />
              <option value="">Building Size *</option>
              <option value="Studio">Studio</option>
              <option value="1 Room">1 Room</option>
              <option value="2 Rooms">2 Rooms</option>
              <option value="3 Rooms">3 Rooms</option>
              <option value="4 Rooms">4 Rooms</option>
              <option value="5+ Rooms">5+ Rooms</option>
            <select/>
          </div>
        </div>
      </div>

      <div class="grid place-items-center">
        <button type="submit" id="button" class="relative inline-block mt-8 px-5 py-2 text-white text-lg overflow-hidden transition-all font-semibold bg-blue-600 rounded-md shadow-lg shadow-blue-300 hover:bg-gradient-to-r from-orange-400 to-orange-600 hover:scale-110">
          <span class="absolute block top-0 -left-full w-full h-[2px] bg-gradient-to-r from-transparent to-white animate-btn_anim1"></span>
          <span class="absolute block -top-full right-0 w-[2px] h-full bg-gradient-to-b from-transparent to-white animate-btn_anim2" style="animation-delay: .3s;"></span>
          <span class="absolute block bottom-0 -right-full w-full h-[2px] bg-gradient-to-l from-transparent to-white animate-btn_anim3" style="animation-delay: .6s;"></span>
          <span class="absolute block -bottom-full left-0 w-[2px] h-full bg-gradient-to-t from-transparent to-white animate-btn_anim4" style="animation-delay: .9s;"></span>
          <p>Send</p>
        </button>
      </div>

    </form>
  </div>
</div>
